@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chivo-Bold";
  src: url("/fonts/Chivo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Semi";
  src: url("/fonts/Chivo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Medi";
  src: url("/fonts/Chivo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Regular";
  src: url("/fonts/Chivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo-Light";
  src: url("/fonts/Chivo-Light.ttf") format("truetype");
}